My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "businesses",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "facebookurl",
              "condition": "eq"
            },
            {
              "keyName": "instagramurl",
              "condition": "eq"
            },
            {
              "keyName": "youtubeurl",
              "condition": "eq"
            },
            {
              "keyName": "email",
              "condition": "eq"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2864,
        800
      ],
      "id": "b1506f38-fb22-496d-bac3-c725b831e34e",
      "name": "Get Businesses Without Social Links"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "aYG0l9s7dbB7j3gbS",
          "mode": "list",
          "cachedResultName": "Website Content Crawler (apify/website-content-crawler)",
          "cachedResultUrl": "https://console.apify.com/actors/aYG0l9s7dbB7j3gbS/input"
        },
        "customBody": "={\n  \"startUrls\": [{ \"url\": \"{{ $json.website }}\" }],\n  \"maxCrawlPages\": 1,\n  \"crawlerType\": \"cheerio\"\n}",
        "timeout": 120
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        3536,
        656
      ],
      "id": "1af57b1a-3ada-448a-b91a-e05eed1f4cc5",
      "name": "Apify: Scrape Website",
      "credentials": {},
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $input.all();\nlet business;\ntry { business = $('Loop Over Businesses1').item.json; }\ncatch (e) { business = $('Loop Over Businesses1').first().json; }\n\nconst pageData = items[0]?.json || {};\nconst html = String(pageData.html || pageData.text || pageData.markdown || pageData.content || '');\nconst meta = pageData.metadata || {};\nconst socialLinks = meta.socialLinks || pageData.socialLinks || {};\n\nlet facebookUrl  = socialLinks.facebook  || socialLinks.fb  || '';\nlet instagramUrl = socialLinks.instagram || socialLinks.ig  || '';\nlet youtubeUrl   = socialLinks.youtube   || socialLinks.yt  || '';\n\nconst FB_JUNK = new Set(['sharer','sharer.php','share','share.php','tr','plugins','dialog','login','help','policies','privacy','terms','campaign','connect','watch','gaming']);\nconst IG_JUNK = new Set(['p','reel','reels','tv','explore','stories','accounts','about','developer','legal','embed','privacy','terms','graphql','api']);\nconst YT_JUNK = new Set(['watch','results','feed','playlist','shorts','trending','premium','about','terms','privacy','music']);\n\nfunction findAll(html, host) {\n  const re = new RegExp('https?://(?:www\\\\.)?' + host + '/[^\"\\'\\\\s<>)\\\\\\\\]+', 'gi');\n  return html.match(re) || [];\n}\nfunction firstSeg(url, host) {\n  const after = url.split(new RegExp(host + '/', 'i'))[1] || '';\n  return after.split('?')[0].split('#')[0].split('/').filter(Boolean);\n}\n\nif (!facebookUrl) {\n  const raws = [...findAll(html, 'facebook\\\\.com'), ...findAll(html, 'fb\\\\.com')];\n  for (const raw of raws) {\n    const prof = raw.match(/facebook\\.com\\/profile\\.php\\?id=\\d+/i);\n    if (prof) { facebookUrl = 'https://www.' + prof[0]; break; }\n    const seg = firstSeg(raw, 'facebook\\\\.com').length ? firstSeg(raw, 'facebook\\\\.com') : firstSeg(raw, 'fb\\\\.com');\n    const first = (seg[0] || '').toLowerCase();\n    if (!first || FB_JUNK.has(first)) continue;\n    facebookUrl = first === 'pages' && seg.length >= 2 ? 'https://www.facebook.com/' + seg.join('/') : 'https://www.facebook.com/' + seg[0];\n    break;\n  }\n}\nif (!instagramUrl) {\n  for (const raw of findAll(html, 'instagram\\\\.com')) {\n    const seg = firstSeg(raw, 'instagram\\\\.com');\n    const first = (seg[0] || '').toLowerCase();\n    if (!first || IG_JUNK.has(first)) continue;\n    instagramUrl = 'https://www.instagram.com/' + seg[0]; break;\n  }\n}\nif (!youtubeUrl) {\n  for (const raw of findAll(html, 'youtube\\\\.com')) {\n    const seg = firstSeg(raw, 'youtube\\\\.com');\n    const first = (seg[0] || '').toLowerCase();\n    if (!first || YT_JUNK.has(first)) continue;\n    youtubeUrl = 'https://www.youtube.com/' + seg[0]; break;\n  }\n}\n\nreturn [{ json: { id: business.id, name: business.name, placeid: business.placeid, facebookurl: facebookUrl, instagramurl: instagramUrl, youtubeurl: youtubeUrl, source: 'apify_website' } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3760,
        656
      ],
      "id": "51dfc44a-9670-4dd7-8f13-417b5c76538c",
      "name": "Extract Social Links from Website"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "nFJndFXA5zjCTuudP",
          "mode": "list",
          "cachedResultName": "Google Search Results Scraper",
          "cachedResultUrl": "https://console.apify.com/actors/nFJndFXA5zjCTuudP/input"
        },
        "customBody": "={\n  \"queries\": \"{{ $('Loop Over Businesses1').item.json.name }} facebook instagram youtube Pakistan\",\n  \"maxPagesPerQuery\": 1,\n  \"resultsPerPage\": 10,\n  \"languageCode\": \"en\",\n  \"countryCode\": \"pk\"\n}",
        "timeout": 60
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        4208,
        864
      ],
      "id": "8732ec32-290c-4923-8d62-71888a7fa8b3",
      "name": "Apify: Google Search (No Website)",
      "credentials": {},
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $input.all();\nlet business;\ntry { business = $('Loop Over Businesses1').item.json; }\ncatch (e) { business = $('Loop Over Businesses1').first().json; }\n\nconst results = items.map(i => i.json).flat();\n\nlet facebookUrl = '', instagramUrl = '', youtubeUrl = '';\nconst FB_JUNK = new Set(['sharer','share','tr','plugins','dialog','login','help','policies','privacy','terms','watch','gaming']);\nconst IG_JUNK = new Set(['p','reel','reels','explore','accounts','about','legal','privacy','terms']);\nconst YT_JUNK = new Set(['watch','results','feed','playlist','shorts','trending','premium','about','terms','privacy']);\n\nfunction firstSeg(url, host) {\n  const after = url.split(new RegExp(host + '/', 'i'))[1] || '';\n  return after.split('?')[0].split('#')[0].split('/').filter(Boolean);\n}\n\nconst allUrls = [];\nfor (const r of results) {\n  if (r.url) allUrls.push(r.url);\n  if (r.displayUrl) allUrls.push(r.displayUrl);\n  const desc = r.description || r.snippet || '';\n  const matches = desc.match(/https?:\\/\\/(?:www\\.)?(?:facebook|instagram|youtube)\\.com\\/[^\\s\"'<>]+/gi) || [];\n  allUrls.push(...matches);\n}\n\nfor (const url of allUrls) {\n  if (!facebookUrl && /facebook\\.com/i.test(url)) {\n    const seg = firstSeg(url, 'facebook\\\\.com');\n    const first = (seg[0] || '').toLowerCase();\n    if (first && !FB_JUNK.has(first)) facebookUrl = 'https://www.facebook.com/' + seg[0];\n  }\n  if (!instagramUrl && /instagram\\.com/i.test(url)) {\n    const seg = firstSeg(url, 'instagram\\\\.com');\n    const first = (seg[0] || '').toLowerCase();\n    if (first && !IG_JUNK.has(first)) instagramUrl = 'https://www.instagram.com/' + seg[0];\n  }\n  if (!youtubeUrl && /youtube\\.com/i.test(url)) {\n    const seg = firstSeg(url, 'youtube\\\\.com');\n    const first = (seg[0] || '').toLowerCase();\n    if (first && !YT_JUNK.has(first)) youtubeUrl = 'https://www.youtube.com/' + seg[0];\n  }\n  if (facebookUrl && instagramUrl && youtubeUrl) break;\n}\n\nreturn [{ json: { id: business.id, name: business.name, placeid: business.placeid, facebookurl: facebookUrl, instagramurl: instagramUrl, youtubeurl: youtubeUrl, source: 'apify_google_search' } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4432,
        864
      ],
      "id": "85c27cc3-7ede-41ff-a02d-003de6392d14",
      "name": "Extract Social Links (No Website)"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "businesses",
        "filters": {
          "conditions": [
            {
              "keyName": "placeid",
              "condition": "eq",
              "keyValue": "={{ $json.placeid }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "facebookurl",
              "fieldValue": "={{ $json.facebookurl }}"
            },
            {
              "fieldId": "instagramurl",
              "fieldValue": "={{ $json.instagramurl }}"
            },
            {
              "fieldId": "youtubeurl",
              "fieldValue": "={{ $json.youtubeurl }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5104,
        720
      ],
      "id": "4cf14517-bd0c-4bc0-ae52-979e3459771d",
      "name": "Update Social Links in Supabase"
    },
    {
      "parameters": {
        "jsCode": "\n// Skip Supabase update if absolutely nothing was found\n// This prevents overwriting existing data with empty strings\nconst d = $input.first().json;\nlet existing;\ntry { existing = $('Loop Over Businesses1').item.json; }\ncatch(e) { existing = {}; }\n\nconst hasSomething = d.facebookurl || d.instagramurl || d.youtubeurl || \n                     existing.facebookurl || existing.instagramurl || existing.youtubeurl;\n\nif (!hasSomething) {\n  // Nothing at all — skip update, go straight to loop\n  return [{ json: { ...d, skipUpdate: true } }];\n}\n\nreturn [{ json: { ...d, skipUpdate: false } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4880,
        720
      ],
      "id": "388d8cab-53d6-437b-99ff-1896a68de091",
      "name": "Skip If Nothing Found"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3088,
        800
      ],
      "id": "13839f6f-c4f9-458c-9cd7-4c50ad9e6a1f",
      "name": "Loop Over Businesses1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-website",
              "leftValue": "={{ $json.website }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3312,
        720
      ],
      "id": "5e264a1a-c835-4c77-b543-e49ef5474e44",
      "name": "Has Website?1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-found",
              "leftValue": "={{ $json.facebookurl === '' && $json.instagramurl === '' && $json.youtubeurl === '' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3984,
        656
      ],
      "id": "c0976dfc-f42c-4318-af64-64aed615934b",
      "name": "Not Found in Website?1"
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $input.all();\nreturn items.map(item => {\n  const d = item.json;\n  // Get existing values from Supabase (original business data)\n  let existing;\n  try { existing = $('Loop Over Businesses1').item.json; }\n  catch(e) { existing = {}; }\n\n  // Only update a field if new value was found — keep old value otherwise\n  return {\n    json: {\n      id:           d.id,\n      name:         d.name,\n      placeid:      d.placeid,\n      facebookurl:  d.facebookurl  || existing.facebookurl  || '',\n      instagramurl: d.instagramurl || existing.instagramurl || '',\n      youtubeurl:   d.youtubeurl   || existing.youtubeurl   || '',\n      source:       d.source\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4656,
        720
      ],
      "id": "723cd9b5-f54d-4606-a620-107ad74bb700",
      "name": "Prepare for Supabase Update1"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconsole.log(`Done: ${item.name} | FB: ${item.facebookurl||'-'} | IG: ${item.instagramurl||'-'} | YT: ${item.youtubeurl||'-'}`);\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5328,
        720
      ],
      "id": "1d1924ed-836b-4d3e-a204-0961f23787d9",
      "name": "Log Result1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5552,
        864
      ],
      "id": "9c4fd9ec-4cad-4e48-a910-9660b45faec3",
      "name": "Back to Loop1"
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $input.all();\nlet business;\ntry { business = $('Loop Over Businesses1').item.json; }\ncatch (e) { business = $('Loop Over Businesses1').first().json; }\n\nconst prevData = $('Extract Social Links from Website').item.json;\nconst results = items.map(i => i.json).flat();\n\nlet facebookUrl  = prevData.facebookurl  || '';\nlet instagramUrl = prevData.instagramurl || '';\nlet youtubeUrl   = prevData.youtubeurl   || '';\n\nconst FB_JUNK = new Set(['sharer','share','tr','plugins','dialog','login','help','policies','privacy','terms','watch','gaming']);\nconst IG_JUNK = new Set(['p','reel','reels','explore','accounts','about','legal','privacy','terms']);\nconst YT_JUNK = new Set(['watch','results','feed','playlist','shorts','trending','premium','about','terms','privacy']);\n\nfunction firstSeg(url, host) {\n  const after = url.split(new RegExp(host + '/', 'i'))[1] || '';\n  return after.split('?')[0].split('#')[0].split('/').filter(Boolean);\n}\n\nconst allUrls = [];\nfor (const r of results) {\n  if (r.url) allUrls.push(r.url);\n  if (r.displayUrl) allUrls.push(r.displayUrl);\n  const desc = r.description || r.snippet || '';\n  const matches = desc.match(/https?:\\/\\/(?:www\\.)?(?:facebook|instagram|youtube)\\.com\\/[^\\s\"'<>]+/gi) || [];\n  allUrls.push(...matches);\n}\n\nfor (const url of allUrls) {\n  if (!facebookUrl && /facebook\\.com/i.test(url)) {\n    const seg = firstSeg(url, 'facebook\\\\.com');\n    const first = (seg[0] || '').toLowerCase();\n    if (first && !FB_JUNK.has(first)) facebookUrl = 'https://www.facebook.com/' + seg[0];\n  }\n  if (!instagramUrl && /instagram\\.com/i.test(url)) {\n    const seg = firstSeg(url, 'instagram\\\\.com');\n    const first = (seg[0] || '').toLowerCase();\n    if (first && !IG_JUNK.has(first)) instagramUrl = 'https://www.instagram.com/' + seg[0];\n  }\n  if (!youtubeUrl && /youtube\\.com/i.test(url)) {\n    const seg = firstSeg(url, 'youtube\\\\.com');\n    const first = (seg[0] || '').toLowerCase();\n    if (first && !YT_JUNK.has(first)) youtubeUrl = 'https://www.youtube.com/' + seg[0];\n  }\n  if (facebookUrl && instagramUrl && youtubeUrl) break;\n}\n\nreturn [{ json: { id: business.id, name: business.name, placeid: business.placeid, facebookurl: facebookUrl, instagramurl: instagramUrl, youtubeurl: youtubeUrl, source: 'apify_website_then_google' } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4432,
        576
      ],
      "id": "b556dac5-866f-46f2-b536-4f60622f78dd",
      "name": "Extract Social Links (Fallback)"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "nFJndFXA5zjCTuudP",
          "mode": "list",
          "cachedResultName": "Google Search Results Scraper",
          "cachedResultUrl": "https://console.apify.com/actors/nFJndFXA5zjCTuudP/input"
        },
        "customBody": "={\n  \"queries\": \"{{ $('Loop Over Businesses1').item.json.name }} facebook instagram youtube Pakistan\",\n  \"maxPagesPerQuery\": 1,\n  \"resultsPerPage\": 10,\n  \"languageCode\": \"en\",\n  \"countryCode\": \"pk\"\n}",
        "timeout": 60
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        4208,
        576
      ],
      "id": "21083932-d963-4875-9502-bdc67556a28b",
      "name": "Apify: Google Search (Fallback)",
      "credentials": {},
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Get Businesses Without Social Links": {
      "main": [
        [
          {
            "node": "Loop Over Businesses1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify: Scrape Website": {
      "main": [
        [
          {
            "node": "Extract Social Links from Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Social Links from Website": {
      "main": [
        [
          {
            "node": "Not Found in Website?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify: Google Search (No Website)": {
      "main": [
        [
          {
            "node": "Extract Social Links (No Website)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Social Links (No Website)": {
      "main": [
        [
          {
            "node": "Prepare for Supabase Update1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Social Links in Supabase": {
      "main": [
        [
          {
            "node": "Log Result1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip If Nothing Found": {
      "main": [
        [
          {
            "node": "Update Social Links in Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Businesses1": {
      "main": [
        [],
        [
          {
            "node": "Has Website?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Website?1": {
      "main": [
        [
          {
            "node": "Apify: Scrape Website",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Apify: Google Search (No Website)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Found in Website?1": {
      "main": [
        [
          {
            "node": "Apify: Google Search (Fallback)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare for Supabase Update1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Supabase Update1": {
      "main": [
        [
          {
            "node": "Skip If Nothing Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Result1": {
      "main": [
        [
          {
            "node": "Back to Loop1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Back to Loop1": {
      "main": [
        [
          {
            "node": "Loop Over Businesses1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Social Links (Fallback)": {
      "main": [
        [
          {
            "node": "Prepare for Supabase Update1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify: Google Search (Fallback)": {
      "main": [
        [
          {
            "node": "Extract Social Links (Fallback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "cda627cd-cd96-4e6c-acb2-001bed997069",
  "meta": {
    "instanceId": "15720733ddd847f73be5044aecddbb30d17c82803c83fde52f2e35d071cd2083"
  },
  "nodeGroups": [],
  "id": "jLlSMsZlLiMXtGE9",
  "tags": []
}